h1, p {
    text-align: center;
}

form {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 30px;
    width: 30%;
    margin: auto;
}

.form-item  {
    margin: 10px 0;
}

.form-item input {
    width: 100%;
}

.form-item.button input {
    width: auto;
    margin-left: auto;
    margin-right: -8px;
}

label, input {
    display: block;
}

#erreur {
    color: red;
}